<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>This is a test page for the sprite generator</title>
    <style type="text/css">
    {{css}}
    </style>
  </head>
  <body>
    
    <ul>
      <li><a src="#" class="emoticon-evilgrin">emoticon-evilgrin</a></li>
      <li><a src="#" class="emoticon-grin">emoticon-grin</a></li>
      <li><a src="#" class="emoticon-happy_normal_happy">emoticon-happy_normal_happy</a></li>
      <li><a src="#" class="emoticon-happy_smile">emoticon-happy_smile</a></li>
      <li><a src="#" class="emoticon-surprised">emoticon-surprised</a></li>
      <li><a src="#" class="emoticon-waii">emoticon-waii</a></li>
      <li><a src="#" class="bug-add">bug-add</a></li>
      <li><a src="#" class="bug-go">bug-go</a></li>
      <li><a src="#" class="bug-edit">bug-edit</a></li>
    </ul>
    
    <div>
      <pre>
        {{css}}
      </pre>
    </div>
    
    <div>
      <img src="{{image}}" />
    </div>
    
  </body>
</html>
