<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>This is a test page for the sprite generator</title>
    <style type="text/css">
    {{css}}
    </style>
  </head>
  <body>
    <div class="emoticon_0">&nbsp;</div>
    <div class="emoticon_1">&nbsp;</div>
    <div class="emoticon_2">&nbsp;</div>
    <div class="emoticon_3">&nbsp;</div>
    <div class="emoticon_4">&nbsp;</div>
    <div class="emoticon_5">&nbsp;</div>
    <div class="bug_0">&nbsp;</div>
    <div class="bug_1">&nbsp;</div>
    <div class="bug_2">&nbsp;</div>
  </body>
</html>
